In [6]:
import pandas as pd
import sqlite3

In [9]:
# Read in your file
df = pd.read_csv("death_un.csv")

# Connect to a database, a file called school_data.db
conn = sqlite3.connect("death.db")

# Save into a table called 'schools'
df.to_sql('death', conn)

/Users/viceproduction/.pyenv/versions/3.6.4/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head()

,Country,Year,Area,Sex,Age,Record_Type,Reliability,Source_Year,Value,Value_Footnotes
0,Åland Islands,2015,Total,Both Sexes,Total,Data tabulated by year of occurrence,"Final figure, complete",2017.0,285.0,NaN
1,Åland Islands,2015,Total,Both Sexes,0,Data tabulated by year of occurrence,"Final figure, complete",2017.0,0.0,NaN
2,Åland Islands,2015,Total,Both Sexes,1,Data tabulated by year of occurrence,"Final figure, complete",2017.0,0.0,NaN
3,Åland Islands,2015,Total,Both Sexes,1 - 4,Data tabulated by year of occurrence,"Final figure, complete",2017.0,0.0,NaN
4,Åland Islands,2015,Total,Both Sexes,2,Data tabulated by year of occurrence,"Final figure, complete",2017.0,0.0,NaN

In [27]:
df[df.Value!=0.0]

,Country,Year,Area,Sex,Age,Record_Type,Reliability,Source_Year,Value,Value_Footnotes
0,Åland Islands,2015,Total,Both Sexes,Total,Data tabulated by year of occurrence,"Final figure, complete",2017.0,285.0,NaN
32,Åland Islands,2015,Total,Both Sexes,25 - 29,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
35,Åland Islands,2015,Total,Both Sexes,28,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
55,Åland Islands,2015,Total,Both Sexes,45,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
56,Åland Islands,2015,Total,Both Sexes,45 - 49,Data tabulated by year of occurrence,"Final figure, complete",2017.0,5.0,NaN
57,Åland Islands,2015,Total,Both Sexes,46,Data tabulated by year of occurrence,"Final figure, complete",2017.0,2.0,NaN
59,Åland Islands,2015,Total,Both Sexes,48,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
60,Åland Islands,2015,Total,Both Sexes,49,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
62,Åland Islands,2015,Total,Both Sexes,50 - 54,Data tabulated by year of occurrence,"Final figure, complete",2017.0,5.0,NaN
63,Åland Islands,2015,Total,Both Sexes,51,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
64,Åland Islands,2015,Total,Both Sexes,52,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
66,Åland Islands,2015,Total,Both Sexes,54,Data tabulated by year of occurrence,"Final figure, complete",2017.0,3.0,NaN
67,Åland Islands,2015,Total,Both Sexes,55,Data tabulated by year of occurrence,"Final figure, complete",2017.0,2.0,NaN
68,Åland Islands,2015,Total,Both Sexes,55 - 59,Data tabulated by year of occurrence,"Final figure, complete",2017.0,9.0,NaN
70,Åland Islands,2015,Total,Both Sexes,57,Data tabulated by year of occurrence,"Final figure, complete",2017.0,3.0,NaN
71,Åland Islands,2015,Total,Both Sexes,58,Data tabulated by year of occurrence,"Final figure, complete",2017.0,3.0,NaN
72,Åland Islands,2015,Total,Both Sexes,59,Data tabulated by year of occurrence,"Final figure, complete",2017.0,1.0,NaN
73,Åland Islands,2015,Total,Both Sexes,60,Data tabulated by year of occurrence,"Final figure, complete",2017.0,5.0,NaN
74,Åland Islands,2015,Total,Both Sexes,60 - 64,Data tabulated by year of occurrence,"Final figure, complete",2017.0,18.0,NaN
75,Åland Islands,2015,Total,Both Sexes,61,Data tabulated by year of occurrence,"Final figure, complete",2017.0,2.0,NaN
76,Åland Islands,2015,Total,Both Sexes,62,Data tabulated by year of occurrence,"Final figure, complete",2017.0,2.0,NaN
77,Åland Islands,2015,Total,Both Sexes,63,Data tabulated by year of occurrence,"Final figure, complete",2017.0,3.0,NaN
78,Åland Islands,2015,Total,Both Sexes,64,Data tabulated by year of occurrence,"Final figure, complete",2017.0,6.0,NaN
79,Åland Islands,2015,Total,Both Sexes,65,Data tabulated by year of occurrence,"Final figure, complete",2017.0,4.0,NaN
80,Åland Islands,2015,Total,Both Sexes,65 - 69,Data tabulated by year of occurrence,"Final figure, complete",2017.0,27.0,NaN
81,Åland Islands,2015,Total,Both Sexes,66,Data tabulated by year of occurrence,"Final figure, complete",2017.0,4.0,NaN
82,Åland Islands,2015,Total,Both Sexes,67,Data tabulated by year of occurrence,"Final figure, complete",2017.0,4.0,NaN
83,Åland Islands,2015,Total,Both Sexes,68,Data tabulated by year of occurrence,"Final figure, complete",2017.0,5.0,NaN
84,Åland Islands,2015,Total,Both Sexes,69,Data tabulated by year of occurrence,"Final figure, complete",2017.0,10.0,NaN
85,Åland Islands,2015,Total,Both Sexes,70,Data tabulated by year of occurrence,"Final figure, complete",2017.0,7.0,NaN
...,...,...,...,...,...,...,...,...,...,...
99995,Canada,2006,Total,Male,28,Data tabulated by year of occurrence,"Final figure, complete",2008.0,178.0,24
99996,Canada,2006,Total,Male,29,Data tabulated by year of occurrence,"Final figure, complete",2008.0,155.0,24
99997,Canada,2006,Total,Male,30,Data tabulated by year of occurrence,"Final figure, complete",2008.0,194.0,24
99998,Canada,2006,Total,Male,30 - 34,Data tabulated by year of occurrence,"Final figure, complete",2008.0,957.0,24
99999,Canada,2006,Total,Male,31,Data tabulated by year of occurrence,"Final figure, complete",2008.0,182.0,24
100000,footnoteSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100001,1,Data refer to the 12 months preceding the cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,2,Unrevised data.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,3,Excluding visitors.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004,4,Source: World Health Organization.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100005,5,As reported by the country. Reasons for discre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100006,6,Figures for male and female may not add up to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100007,7,Including unknown sex.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100008,8,Excluding deaths of unknown sex.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100009,9,Excluding infants born alive of less than 28 w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100010,10,Data as reported by national statistical autho...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100011,11,Data for certain cells suppressed by national ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100012,12,The urban/rural split has not been calculated ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100013,13,Excluding full-blooded aborigines estimated at...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100014,14,Including deaths of nationals abroad.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100015,15,Sources: Births and Deaths National Registrati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100016,16,Including armed forces stationed outside the c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100017,17,Excluding non-residents and foreign service pe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100018,18,Data refer to the 12 months preceding the cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100019,19,Data refer to the 12 months preceding the cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100020,20,Age classification is based on the difference ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100021,21,The total number may include 'Unknown residenc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100022,22,Data refer to the 12 months preceding the cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100023,23,Including deaths abroad and deaths of unknown ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100024,24,Including Canadian residents temporarily in th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.groupby('Country').Value.sum()

Country
1                                   0.000000e+00
10                                  0.000000e+00
11                                  0.000000e+00
12                                  0.000000e+00
13                                  0.000000e+00
14                                  0.000000e+00
15                                  0.000000e+00
16                                  0.000000e+00
17                                  0.000000e+00
18                                  0.000000e+00
19                                  0.000000e+00
2                                   0.000000e+00
20                                  0.000000e+00
21                                  0.000000e+00
22                                  0.000000e+00
23                                  0.000000e+00
24                                  0.000000e+00
3                                   0.000000e+00
4                                   0.000000e+00
5                                   0.000000e+00
6                                   0.000000e+00
7                                   0.000000e+00
8                                   0.000000e+00
9                                   0.000000e+00
Albania                             2.776053e+06
American Samoa                      3.718600e+04
Andorra                             1.454600e+04
Anguilla                            4.278000e+03
Antigua and Barbuda                 6.164800e+04
Argentina                           5.781171e+07
Armenia                             4.406604e+06
Aruba                               3.226800e+04
Australia                           3.450657e+07
Austria                             3.473350e+07
Azerbaijan                          8.396502e+06
Bahamas                             2.450560e+05
Bahrain                             2.784120e+05
Barbados                            4.214080e+05
Belarus                             2.162200e+07
Belgium                             2.699992e+07
Bermuda                             9.729200e+04
Bhutan                              3.598400e+04
Bolivia (Plurinational State of)    1.016400e+06
Bosnia and Herzegovina              1.670330e+06
Botswana                            2.202240e+05
Brazil                              2.286476e+07
British Virgin Islands              9.496000e+03
Brunei Darussalam                   1.906620e+05
Bulgaria                            3.994343e+07
Cabo Verde                          2.221940e+05
Canada                              6.606806e+06
footnoteSeqID                       0.000000e+00
Åland Islands                       3.118600e+04
Name: Value, dtype: float64